body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9b59b6; /* purple background */
  font-family: Arial, sans-serif;
}

#buttons {
  display: flex;
  gap: 1rem;
}

.btn, .stop {
  background: #5e3370; /* darker purple */
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  background: #482655;
}

.stop {
  background: #5e3370;
}

.stop:hover {
  background: #3a1b44;
}
